body {
  background-color: #F1BAA6;
}

img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}

.has-text-centered {
  width: 100%;
  text-align: center;
  max-width: 600px;
  margin: 10px auto;
}
