:root {
  --darkred: #681C1C;
  --darkpink: #D79695;
  --lightpink: #E8CBCA;
}

@font-face {
  font-family: BetinaSansBold;
  src: url(../fonts/betinasans-semibold.ttf);
}

@font-face {
  font-family: BetinaSansRegular;
  src: url(../fonts/betinasans-regular.ttf);
}

body {
  background-color: #F1BAA6;
  font-family: BetinaSansRegular;
}

#header img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5vw;
}

#header h1 {
  font-family: BetinaSansBold;
  text-align: center;
  font-size: 8vw;
  color: var(--darkred);
}

a {
  color: var(--darkred);
}

.hero p {
  display: block;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5rem;
}

table.table {
  background-color: inherit;
}

table.table td.time {
  width: 80px;
}

table.table td {
  border: 0;
}
